<nav class="w-full fixed top-0 left-0 z-50 bg-slate-950 backdrop-blur-md border-b border-white/10">
    <div class="max-w-7xl mx-auto h-20 px-6 flex items-center justify-between">
        <!-- Logo -->
        <a routerLink="/" class="flex items-center gap-3 group">
            <img src="assets/images/MES.png" alt="MES"
                class="h-20 w-auto transition-transform duration-300 group-hover:scale-105" />
            <span class="text-xl font-bold tracking-widest text-white"> MES </span>
            <span class="hidden lg:block text-sm text-gray-400 font-light">
                Software Solutions
            </span>
        </a>

        <!-- Desktop menu -->
        <div class="hidden md:flex items-center gap-8 text-sm font-medium">
            <a (click)="scrollToSection('inicio')" class="cursor-pointer text-gray-300 hover:text-white transition">
                Inicio
            </a>

            <a (click)="scrollToSection('services')" class="cursor-pointer text-gray-300 hover:text-white transition">
                Servicios
            </a>

            <a (click)="scrollToSection('projects')" class="cursor-pointer text-gray-300 hover:text-white transition">
                Proyectos
            </a>

            <a (click)="scrollToSection('academic')" class="cursor-pointer text-gray-300 hover:text-white transition">
                Formación
            </a>

            <a (click)="scrollToSection('companies')" class="cursor-pointer text-gray-300 hover:text-white transition">
                Empresas
            </a>
        </div>

        <!-- Mobile button -->
        <button class="md:hidden text-white" (click)="toggleMenu()" aria-label="Abrir menú">
            <span class="text-3xl">
                {{ isMenuOpen ? '✕' : '☰' }}
            </span>
        </button>
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden overflow-hidden transition-all duration-300 bg-black/95" [class.max-h-0]="!isMenuOpen"
        [class.max-h-96]="isMenuOpen">
        <div class="flex flex-col px-6 py-4 space-y-4 text-white">
            <a [routerLink]="['/']" fragment="inicio" (click)="closeMenu('inicio')">Inicio</a>
            <a [routerLink]="['/']" fragment="services" (click)="closeMenu('services')">Servicios</a>
            <a [routerLink]="['/']" fragment="projects" (click)="closeMenu('projects')">Proyectos</a>
            <a [routerLink]="['/']" fragment="academic" (click)="closeMenu('academic')">Formación</a>
            <a [routerLink]="['/']" fragment="companies" (click)="closeMenu('companies')">Empresas</a>
        </div>
    </div>
</nav>